{% extends "base.html" %}

{% block container %}

<h1>Add new house</h1>

<form action="addrecord/" method="post">
{% csrf_token %}


<table class="table" border="1">
<tr>
	<th>floor number</th>
	<th>year of construction</th>
	<th>squares meters</th>
	<th>number of rooms</th>
	<th>number of baths</th>
</tr>
<tr>
	<td><input name="floor_number" type="number" value="{{ myHouse.floor_number }}" required></td>
	<td><input name="year_construction" type="number" value="{{ myHouse.year_construction }}" required></td>
	<td><input name="square_meters" type="number" step=".01" value="{{ myHouse.square_meters }}" required></td>
	<td><input name="rooms_number" type="number" value="{{ myHouse.rooms_number }}" required></td>
	<td><input name="baths_number" type="number" value="{{ myHouse.baths_number }}" required></td>
</tr>
</table>
<br><br>
<input type="submit" value="Submit">
</form>

{% endblock container %}
